node_modules
# Supabase
# Find these in your Supabase project settings
SUPABASE_URL=https://zyzesnoquawxsqyeyjix.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5emVzbm9xdWF3eHNxeWV5aml4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY5ODg5NDAsImV4cCI6MjA3MjU2NDk0MH0.hJJwneHbFBj5AynYQOJifiK5fgO9bBsupCiUCpg3Pi8

# Firebase
# These are used for the frontend SDK.
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASUREMENT_ID=

# Razorpay
# Keys for testing Razorpay payments.
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Google Maps
REACT_APP_GOOGLE_MAPS_API_KEY=